// Single-line comments look like JavaScript comments, and do not output in the resulting CSS:

// Core
.container
  lost-center 980px
  padding 30px
  text-align center

  span
     display block
     color #607D8B
     font-size 18px

// Navigation
.logo
  width 100px
  margin 0 auto
  img
    max-width 100%
    margin 0 auto

// Typography
h1
  font-size 1.3em
  margin-bottom 0.3rem
  font-weight normal
  color #000

// Images & Media
img
   max-width 60%
   margin 0 auto
   @media screen and (max-width: 600px)
    max-width 100%

// Linking
a
    text-decoration: none;
